<div class="call-to-action row">
        <div class="container container-fluid">
            <div class=" align-items-center  ">
                <h2>Available Free Expert Consulation</h2>
                <p>
                    Request a call back from our Personalized Service Team
                </p>
                <form action="">

                    <div class="form-row  mt-3">

                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Name</label>
                            <input type="text" id="" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Contact Number</label>
                            <input type="text" id="" class="form-control" placeholder="Mobile Number">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="" style="color:white">Time for contact</label>
                            <input type="text" id="" class="form-control" placeholder="Time">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Reson</label>
                            <input type="text" id="" class="form-control" placeholder="How To Register">
                        </div>
                        <div class="col-md-3   ">
                            <button type="submit" id="" class="btn req-call-btn  btn-block">Request a call</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>