<div class="footer hide-max">
        <div class="container">
            <div class="row  ">
                <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                    <div class="footer-form  ft-logo-sec ">
                        <img src="/assets/images/ft_logo.PNG" class="ftr-img" alt="Footer Logo"> <br>
                        <h6 class="ft-align-center text-small">The Complete Muslim Matrimony</h6>
                    </div>
                </div>

                <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                    <div class="hide-ft">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="/about.html">About Us</a>
                            <a>Our Services</a>
                            <a>Our Branchs</a>
                            <a href="/contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around col-md-6 col-lg-3  ">
                    <div class="hide-ft">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a>Clients Review</a>
                            <a>Customer Support</a>
                            <a>FAQs</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around col-md-6 col-lg-3">
                    <div class="footer-contact ft-align-center">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Padikkal, Malappuram, Kerala</p>
                        <p><i class="fa fa-phone-alt"></i><a href="https://wa.me/919746900055">+91 97469 00055</a></p>
                        <p><i class="fa fa-envelope"></i>info@keralamuslimmarry.com</p>
                        <div class="footer-social">
                            <a><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/keralamuslimmarry" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a><i class="fab fa-youtube"></i></a>
                            <a href="https://instagram.com/keralamuslimmarry/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="/terms_and_conditions.html">Terms of use</a>
                <a href="privacy_policy.html">Privacy policy</a>
                <a>Cookies</a>
                <a>Help & FQAs</a>
                <a href="/contact.html">Contact us</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="https://keralamuslimmarry.com/">Kerala Muslim Marry</a>- All Right Reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Theme Designed By <a href="https://htmlcodex .com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer  footer-mv   hide-min">

        <div class="container footer-menu">
            <div class="f-menu">
                <a href="terms_and_conditions.html">&nbsp;Terms of use</a>
                <a href="privacy_policy.html">&nbsp;Privacy policy</a>
                <a>&nbsp;Cookies</a><br>
                <a>&nbsp;Help & FQAs</a>
                <a href="contact.html">&nbsp;Contact us</a>
            </div>
        </div>

    </div>
    <!-- Footer End -->

    <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
    </div>