 <div class="header fp">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="brand">
                            <a href="#">
                                <img src="/assets/images/logo.PNG" alt="Logo" />
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="mySidebar" class="new-sidebar">
            <i href="javascript:void(0)" class="closebtn fa fa-close closebtn-icon" onclick="closeNav()"></i>
            <a href="/user/my_profile">View My Profile</a>
            <a href="/user/edit_profile">Edit My Profile</a>
            <a href="/user/change_password">Change My Password</a>
            <a href="/user/delete_account">Delete My Account</a>
            <a href="/user/logout">Log out</a>
        </div>
        <div class=" call-to-action-my after-login-nav">
            <div class="container  ">
                <div class="menu-sp  ">
                    <div class="  ">
                        <a href="/" class=" p-2 "><i class=" fa fa-address-card fa-1x .btn">
                            </i><span class="hide-sp-icon">&nbsp;Profiles</span>
                        </a>
                    </div>
                    <div>
                        <a href="/profile-search.html" class=" p-2 "><i class="fa fa-search   .btn"></i><span
                                class="hide-icon">&nbsp;Search</span></a>
                    </div>
                    <div>
                        <a href="/User/shortlisted-Profile.html" class=" p-2 "><i class="fa fa-sort .btn"></i><span
                                class="hide-icon">&nbsp;Shortlist</span></a>

                    </div>
                    <div>
                        <div class="menu-sp-sec  ">
                            <a class="  p-2 " onclick="openNav()"><i class=" fas fa-user fa-1x"></i><span
                                    class="  hide-icon">&nbsp;Account</span></a>
                        </div>

                    </div>
                </div>
            </div>