<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link href="/assets/images/fav_icn.PN" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/lightbox/css/lightbox.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="/assets/libs/css/overwritestyle.css" rel="stylesheet">
    <link href="/assets/libs/css/userstyle.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
       <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Mukta:wght@200&display=swap" rel="stylesheet">
   
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

    <link href="../assets/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../assets/vendor/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->  
    <link href="../assets/libs/css/overwritestyle.css" rel="stylesheet">
    <link href="../assets/libs/css/userstyle.css" rel="stylesheet">
    <title>Muslim matrimony</title>
  </head>
  <body>
   {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/easing/easing.min.js"></script>
    <script src="/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/lightbox/js/lightbox.min.js"></script>
    <script src="/assets/libs/js/loader.min.js"></script>
    <script src="/assets/libs/js/mystyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/easing/easing.min.js"></script>
    <script src="../assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="../assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/lightbox/js/lightbox.min.js"></script>
    
      <script src="/javascripts/f.js"></script>
    
    <!-- Template Javascript --> 
    <script src="/assets/libs/js/main.js"></script>
    {{!-- <script src="/assets/libs/js/meritalstatus-select.js"></script> --}}
    <script src="/javascripts/countryStateInfo.js"></script>
     <script src="javascripts/country-select.js"></script>
    <script src="../../public/assets/libs/js/country-select.js"></script>
    <script  src="../../public/assets/libs/js/maritalStatus.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  </body>
</html>