
{{!-- <div class="wrapper">
  <div id="loader">
        <img src="assets/images/loader2.gif" alt="loading">
        <h1 class="title">Just Breathe ...</h1>



</div> --}}
  <!-- Header Start -->
  <div class="header home">
    <div class="container-fluid">
      <div class="header-top   ">
        <div class=" row  align-items-center hide-max ">
          <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
            <div class="   brand ">
              <a href="index.html">
                <img src="/assets/images/logo.PNG" alt="Logo">
              </a>
            </div>
          </div>
          <div class=" col  menu-links   hide-max    ">
            <div class="btn-new-for ">
              <a href="/" class="">Home</a>
              <a href="/" class="">About</a>
              <a href="/" class="">Search</a>
              <a href="/" class="">Contact us</a>
            </div>

          </div>
          <div class=" col-2  ">
            <div class="btn-new-for">
              <a href="/login" class="  btn-login ">Login</a>
            </div>
          </div>

        </div>
        <!--4 mobile -->
        <div class="  m-view-sp">
          <div class=" mob-view-logo  hide-min">
            <a href="index.html">
              <img src="/assets/images/logo.PNG" alt="Logo">
            </a>
          </div>
          <div class="btn-new-for  hide-min  ">
            <a href="/login" class="  btn-login ">Login</a>
          </div>
        </div>

      </div>

      <div class="hero row align-items-center bg-text ">
        <div class="col-md-7 d-nonemy">
          <h2>Kerala Muslim Marry</h2>

          <p>Kerala Muslim Marry is the one of the most trusted matrimony in muslim community. Kerala
            Muslim Marry help to find the best soulmate from your locality. We provide verified profile
            for your future.</p>
          <a class="btn" href="/login">Login Now</a>
        </div>
        <div class="col-md-5">
          <div class="form">
            <h3>Register Free</h3>
            <form class="" action="/register" method="POST">
              <label for="">Profile Created by</label>
              <div class="control-group">
                <select class="custom-select" name="role" required>
                  <option name="role" value="">Select</option>
                  <option name="role" value="My self">My Self</option>
                  <option name="role" value="Parents">Parents</option>
                  <option name="role" value="Sister">Sister</option>
                  <option name="role" value="Brother">Brother</option>
                </select>
              </div>
              <label for="">Bide/groom Name</label>
              <input class="form-control" type="text" placeholder="Name" id="" name="uname" required>

              <label for="">Gender</label>
              <div class="control-group">
                <select class="custom-select" name="gender" required>
                  <option name="gender" value="Male" id="">Male</option>
                  <option name="gender" value="Female" id="">Female</option>
                </select>
              </div>

              <label for="">Contact Number</label>
              <div class="row  z-control-group ">
                <div class="col-4">
                  <label for="" class="mb-0">Code</label>
                 
                  <select class=" form-control" name="code" id="" required>
                     {{#each newArr}}
                    <option name="code" value="{{this.dial_code}}">{{this.dial_code}}- {{this.name}}</option>
                      {{/each}}
                  </select>
                 
                </div>
                <div class=" col">
                  <label for="" class="mb-0">Phone Number</label>
                  <input type="text" name="phonenum" id="" class=" form-control " required>
                </div>
              </div>

              <label for="">Email</label>
              <input class="form-control" name="email" id="" type="text" placeholder="Enter your Email" required>
 
               <span class="text-danger">{{message}}</span>
        
              <label for="">Create Login Password</label>
              <input class="form-control" name="password" id="" type="password" placeholder="" required minlength="5" maxlength="19">


              <button class="btn btn-block" type="submit">Register Now</button>

              <p style="font-size: small;">By clicking Register Now,
                you agree to our <a href="/terms_and_conditions.html">Terms & Conditions</a> and <a
                  href="/privacy_policy.html">Privacy Policy</a>.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Call to Action Start -->
  <div class="call-to-action row">
    <div class="container container-fluid">
      <div class=" align-items-center  ">
        <h2>Available Free Expert Consulation</h2>
        <p>
          Request a call back from our Personalized Service Team
        </p>
        <form action="">

          <div class="form-row  mt-3">

            <div class="col-md-6 mt-3">
              <label for="" style="color:white">Name</label>
              <input type="text" id="" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-md-6 mt-3">
              <label for="" style="color:white">Contact Number</label>
              <input type="text" id="" class="form-control" placeholder="Mobile Number" required>
            </div>
            <div class="col-md-3 mt-3">
              <label for="" style="color:white">Time for contact</label>
              <input type="text" id="" class="form-control" placeholder="Time">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" style="color:white">Reson</label>
              <input type="text" id="" class="form-control" placeholder="How To Register" required>
            </div>
            <div class="col-md-3   ">
              <button type="submit" id="" class="btn req-call-btn  btn-block">Request a call</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Call to Action End -->

  <!-- Footer Start -->
  <div class="footer hide-max">
    <div class="container">
      <div class="row  ">
        <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
          <div class="footer-form  ft-logo-sec ">
            <img src="/assets/images/ft_logo.PNG" class="ftr-img" alt="Footer Logo"> <br>
            <h6 class="ft-align-center text-small">The Complete Muslim Matrimony</h6>
          </div>
        </div>

        <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
          <div class="hide-ft">
            <div class="footer-link">
              <h2>Useful Link</h2>
              <a href="/about.html">About Us</a>
              <a>Our Services</a>
              <a>Our Branchs</a>
              <a href="/contact.html">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around col-md-6 col-lg-3  ">
          <div class="hide-ft">
            <div class="footer-link">
              <h2>Useful Link</h2>
              <a>Clients Review</a>
              <a>Customer Support</a>
              <a>FAQs</a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around col-md-6 col-lg-3">
          <div class="footer-contact ft-align-center">
            <h2>Get In Touch</h2>
            <p><i class="fa fa-map-marker-alt"></i>Padikkal, Malappuram, Kerala</p>
            <p><i class="fa fa-phone-alt"></i><a href="https://wa.me/919746900055">+91 97469 00055</a>
            </p>
            <p><i class="fa fa-envelope"></i>info@keralamuslimmarry.com</p>
            <div class="footer-social">
              <a><i class="fab fa-twitter"></i></a>
              <a href="https://facebook.com/keralamuslimmarry" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a><i class="fab fa-youtube"></i></a>
              <a href="https://instagram.com/keralamuslimmarry/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container footer-menu">
      <div class="f-menu">
        <a href="/terms_and_conditions.html">Terms of use</a>
        <a href="privacy_policy.html">Privacy policy</a>
        <a>Cookies</a>
        <a>Help & FQAs</a>
        <a href="/contact.html">Contact us</a>
      </div>
    </div>
    <div class="container copyright">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; <a href="https://keralamuslimmarry.com/">Kerala Muslim Marry</a>- All Right Reserved.
          </p>
        </div>
        <div class="col-md-6">
          <p>Theme Designed By <a href="https://htmlcodex .com">HTML Codex</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer  footer-mv   hide-min">

    <div class="container footer-menu">
      <div class="f-menu">
        <a href="terms_and_conditions.html">&nbsp;Terms of use</a>
        <a href="privacy_policy.html">&nbsp;Privacy policy</a>
        <a>&nbsp;Cookies</a><br>
        <a>&nbsp;Help & FQAs</a>
        <a href="contact.html">&nbsp;Contact us</a>
      </div>
    </div>

  </div>
  

  <!-- Footer End -->

</div>