<!-- fill profile details section start -->

<body>
    <div class="wrapper">
        <!-- Header Start -->
        {{>header}}
    </div>
    <div class="cantainer-srch">
        <div class="search-besic-details item-center-all">

            <div class="  dlt-myacnt">
                <div class="   ">
                    <h2>Delete Account ?</h2>
                    <p>You'll permanently lose your:
                    </p>
                    <ul>
                        <li>-Profile Information</li>
                        <li>-Photos</li>
                        <li>-Other Saved Details</li>
                    </ul>
                    <div class="d-flex justify-content-center mt-4">
                        <button class=" btn text-white btn-danger " data-target="#pwdModal" data-toggle="modal">Delete
                            Account</button>
                    </div>
                    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div>
                                    <button type="button" class="close ac-close-btn" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body  ">
                                    <p style="color: black;">Are you sure, Do you want to Delete your profile? When you
                                        click ok you will lose all information related to your profilr...<span
                                            class="text-danger">!!!!!</span></p>

                                    <button class="btn gnrl-btn bg-success ml-2 text-white "
                                        onclick="deleteAccount('{{u_id}}')">Yes</button>
                                    <button class="btn gnrl-btn bg-danger  ml-2	text-white"
                                        onclick="goBack()">No</button>
                                    <script>
                                        function goBack() {
                                            location.href = "/user/my_profile"
                                        }
                                    </script>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4 text-center">
                                <div class=" " role="status" id="spin">

                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </div>
    </div>


    <script>
        async function deleteAccount(id) {
            let spn = document.getElementById("spin");
            spn.className = "spinner-border text-primary";


            let obj = {
                id: id,
            }
            let res = await axios.post('https://muslim-matrimony.herokuapp.com/delete_account', obj);
            let data = res.data;

            if (data.delete) {
                spn.className = "";

                Swal.fire('Success...', 'Account deleted', 'success')
            }

            location.href = "/user/register";
        }
    </script>




    </div>

    <!-- fill profile details section end -->

    <!-- after footer start -->
    {{>footer}}
    <!-- after footer start -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/easing/easing.min.js"></script>
    <script src="/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/libs/js/main.js"></script>
    <script src="/assets/libs/js/mystyle.js"></script>
</body>