


<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header fp">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="brand">
                            <a href="#">
                                <img src="/assets/images/logo.PNG" alt="Logo" />
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="mySidebar" class="new-sidebar">
            <i href="javascript:void(0)" class="closebtn fa fa-close closebtn-icon" onclick="closeNav()"></i>
            <a href="/User/view-my-profile.html">View My Profile</a>
            <a href="/User/edit-my-profile.html">Edit My Profile</a>
            <a href="/User/change-my-password.html">Change My Password</a>
            <a href="/User/delete-my-account.html">Delete My Account</a>
            <a href="#">Log out</a>
        </div>
        <div class=" call-to-action-my after-login-nav">
            <div class="container  ">
                <div class="menu-sp  ">
                    <div class="  ">
                        <a href="/User/view-all-profile.html" class=" p-2 "><i class=" fa fa-address-card fa-1x .btn">
                            </i><span class="hide-sp-icon">&nbsp;Profiles</span>
                        </a>
                    </div>
                    <div>
                        <a href="/profile-search.html" class=" p-2 "><i class="fa fa-search   .btn"></i><span
                                class="hide-icon">&nbsp;Search</span></a>
                    </div>
                    <div>
                        <a href="/User/shortlisted-Profile.html" class=" p-2 "><i class="fa fa-sort .btn"></i><span
                                class="hide-icon">&nbsp;Shortlist</span></a>

                    </div>
                    <div>
                        <div class="menu-sp-sec  ">
                            <a class="  p-2 " onclick="openNav()"><i class=" fas fa-user fa-1x"></i><span
                                    class="  hide-icon">&nbsp;Account</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->




        <div class="cantainer-srch">
            <div class="search-besic ">
                <div class="search-besic-details  item-center-all pb-3"> 
                    <h2>Edit Your Profile Picture</h2> 
                    <p>
                    Upload Your latest Picture Increase Chance to responses
                    </p> 
                    <form action="" method="" id="" name="" class=""> 
                        <div>
                            <img src="" height="250" id="user-profile" class="user-profile">
                        </div> 
                        <div class="">
                            <input type="file" onchange="previewFile()" class="form-control form-control-lg mt-3  ">
                        </div>
                        <div class=" d-flex justify-content-center mt-2  ">
                            <button type="submit" class="btn gnrl-btn btn-block ">
                                Save & Continue
                            </button>
                        </div> 
                    </form>
                </div> 
            </div>
        </div>
 

    </div>
 
    <!-- fill profile details section end -->
 
    <!-- after footer start -->
    <div class="footer  hide-max">
        <div class="container">
            <div class="row footer-contact ">
                <div class="row z-lgn  ">
                    <!-- <h4 class="ml-5">Get In Touch</h4> -->
                    <div class=" d-flex justify-content-around ft-align-center">
                        <div class="col ft-align-center">
                            <p><i class="fa fa-map-marker"></i>Padikkal, Malappuram, Kerala</p>
                        </div>
                        <div class="col">
                            <p><i class="fa fa-phone"></i><a href="https://wa.me/919746900055">+91 97469
                                    00055</a>
                            </p>
                        </div>
                        <div class="col">
                            <p><i class="fa fa-envelope"></i>info@keralamuslimmarry.com</p>
                        </div>
                        <div class="col z-lgn">
                            <a><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/keralamuslimmarry" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a><i class="fab fa-youtube"></i></a>
                            <a href="https://instagram.com/keralamuslimmarry/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="/terms_and_conditions.html">Terms of use</a>
                <a href="privacy_policy.html">Privacy policy</a>
                <a>Cookies</a>
                <a>Help & FQAs</a>
                <a href="/contact.html">Contact us</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="https://keralamuslimmarry.com/">Kerala Muslim Marry</a>- All Right Reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Theme Designed By <a href="https://htmlcodex .com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- after footer start -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/easing/easing.min.js"></script>
    <script src="/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/libs/js/main.js"></script>
    <script src="/assets/libs/js/mystyle.js"></script>
</body>




