<body>
    <div class="wrapper">
        <!-- Header Start -->
        {{>header}}
    </div>

    <!-- fill profile details section start -->

    <div class="cantainer-srch">
        <div class="search-besic">
            <div class="d-flex justify-content-center dlt-myacnt">
                <div class="  p-5">
                    <h2>Change Password</h2>
                    <hr>

                    <div class="change-pass text-small">

                        <label for="">New Password</label>
                        <input id="new" class="form-control" type="password" placeholder=" ">
                        <label for="">Confirm New Password</label>
                        <input id="confirm" class="form-control" type="password" placeholder=" ">
                        <button onclick="changePassword('{{id}}','{{token}}')" class="form-control mt-3 btn btn-info"
                            id="bt">Submit</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4 text-center">
                            <div class=" " role="status" id="spin">

                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                    <script>

                        async function changePassword(id, token) {
                            console.log(id, token)
                            let spn = document.getElementById("spin");
                            spn.className = "spinner-border text-primary";
                            let bt = document.getElementById("bt");
                            //bt.disabled = true;
                            let password = document.getElementById("confirm").value;
                            let obj = { id, password }
                            let res = await axios.post('https://muslim-matrimony.herokuapp.com/change_password', { obj })
                            if (res.data.success) {
                                spn.className = ""
                                bt.disabled = true;
                                Swal.fire('Success...', 'Password  has been reset successfully ', 'success');
                                location.href = "/user/logout"

                            }
                            else {
                                bt.disabled = true;
                                spn.className = ""
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.message,
                                    footer: '<a href>Why do I have this issue?</a>'
                                })
                            }
                        }
                    </script>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <a class="" href="/" style="color: black;" data-dismiss="modal"
                                aria-hidden="true">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- after footer start -->
    {{>footer}}
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/easing/easing.min.js"></script>
    <script src="/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/libs/js/main.js"></script>
    <script src="/assets/libs/js/mystyle.js"></script>


</body>