<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header-top   ">
            <div class=" row  align-items-center hide-max ">
                <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
                    <div class=" brand ">
                        <a href="index.html">
                            <img src="/assets/images/logo.PNG" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class=" col  menu-links   hide-max    ">
                    <div class="    btn-new-for-all   ">
                        <a href="/index.html" class="">Home</a>
                        <a href="/about.html" class="">About</a>
                        <a href="/search.html" class="">Search</a>
                        <a href="/contact.html" class="">Contact us</a>
                    </div>

                </div>
                <div class=" col-2  ">
                    <div class=" btn-new-for-all  ">
                        <a href="/User/login.html" class="  btn-login ">Login</a>
                    </div>
                </div>

            </div>
            <!--4 mobile -->
            <div class="  m-view-sp">
                <div class=" mob-view-logo  hide-min">
                    <a href="index.html">
                        <img src="/assets/images/logo.PNG" alt="Logo">
                    </a>
                </div>
                <div class=" btn-new-for-all  hide-min  ">
                    <a href="/User/login.html" class="  btn-login ">Login</a>
                </div>
            </div>

        </div>
        <!-- Header End -->

        <!-- fill profile details section start -->

        <div class="call-to-action  ">
            <div class="container">
                <div class=" container ">
                    <div class="fp-margin-botm ">
                        <h2>Complete your Partner Prefrence</h2>
                        <p class="text-small text-white">Tell us about your Partner Prefrence;
                            to finding your love</p>

                    </div>

                    <form action="/partner_preference" method="POST">
                        <div class="form-row   text-white  fplabel  ">
                            <div class="col-md-6  mb-3">
                                <label for="">Age</label>
                                <!-- age 18 to 70 -->
                                <div class="row  z-control-group ">
                                    <div class="col ">
                                        <select class=" form-control" name="age_from" id="" required>
                                            <option value="">from</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                    <div class=" col ">
                                        <select class=" form-control" name="age_to" id="" required>
                                            <option value="">to</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6  mb-3">
                                  <label for="">Height</label>
                                <div class="row  z-control-group ">
                                    <div class="col ">
                                        <select class=" form-control" name="height" id="" required>
                                            <option value="">Select</option>
                                           {{#each heights}}
                                               <option value="{{this.height}}">{{this.height}}</option>
                                           {{/each}}
                                        </select>
                                    </div>
                               
                                    <div class=" col-md-6 mb-3  ">
                                        <label for="">Weight</label>
                                        <select class=" form-control" name="weight" id="" required>
                                             <option value="">Select</option>
                                             {{#each weights}}
                                               <option value="{{this.weight}}">{{this.weight}}</option>
                                           {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 ">
                                <label for="">Marital Status</label>
                                <div class="control-group">
                                    <ul class="ks-cboxtags">
                                        <li>
                                            <input name="m1" type="checkbox" id="ms-any" value="Any" checked >
                                            <label for="ms-any">Any</label>
                                        </li>
                                        <li>
                                            <input name="m2" type="checkbox" id="unmarried" value="Unmarried">
                                            <label for="unmarried">Unmarried</label>
                                        </li>
                                        <li>
                                            <input name="m3"  type="checkbox" id="n_divorce" value="Nikah Divorce">
                                            <label for="n_divorce">Nikah Divorce</label>
                                        </li>
                                        <li>
                                            <input name="m4" type="checkbox" id="divorce" value="Divorce">
                                            <label for="divorce">Divorce</label>
                                        </li>
                                        <li>
                                            <input name="m5" type="checkbox" id="a_divorce" value="Awaiting Divorce">
                                            <label for="a_divorce">Awaiting Divorce</label>
                                        </li>
                                        <li>
                                            <input name="m6" type="checkbox" id="widow" value="Widow/Widows">
                                            <label for="widow">Widow/Widower</label>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 ">
                                <label for="">Physical Status</label>
                                <div class="control-group">
                                    <ul class="ks-cboxtags">
                                        <li>
                                            <input type="checkbox" id="ps-any" value="Any" name="p1" checked>
                                            <label for="ps-any">Any</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ps-normal_person" value="Normal person" name="p2">
                                            <label for="ps-normal_person">Normal Person</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ps-unnormal_person" value="Physically Challenged Person" name="p3">
                                            <label for="ps-unnormal_person">Physically Challenged Person</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3  ">
                                <label for="">Sect</label>
                                <div class="control-group">
                                    <ul class="ks-cboxtags">
                                        <li>
                                            <input type="checkbox" id="sect-any" value="Any" name="s1" checked>
                                            <label for="sect-any">Any</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-sunni" value="Sunni" name="s2" >
                                            <label for="sect-sunni">Sunni</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-sunni_ek" value="Sunni-Ek"  name="s3">
                                            <label for="sect-sunni_ek">Sunni-Ek</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-sunni_ap" value="Sunni-AP" name="s4">
                                            <label for="sect-sunni_ap">Sunni-AP</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-shafisunni" value="Shafi-Sunni" name="s5" >
                                            <label for="sect-shafisunni">Shafi-Sunni</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-hanafisunni" value="Hanafi-Sunni" name="s6">
                                            <label for="sect-hanafisunni">Hanafi-Sunni</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-hanafi" value="Hanafi"  name="s7">
                                            <label for="sect-hanafi">Hanafi</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-shafi" value="Shafi" name="s8" >
                                            <label for="sect-shafi">Shafi</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-slafi" value="Salafi" name='s9'>
                                            <label for="sect-slafi">Salafi</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-j_e_islami" value="Jamaat e Islami" name="s10">
                                            <label for="sect-j_e_islami">Jamaat e Islami</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="sect-tablighi" value="Tablighi Jamaat" name="s11" >
                                            <label for="sect-tablighi">Tablighi Jamaat</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3  ">
                                <label for="">Education</label>
                                <div class="control-group">
                                    <ul class="ks-cboxtags">
                                        <li>
                                            <input type="checkbox" id="education-any" value="Any" name="e1" checked>
                                            <label for="education-any">Any</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-doctorate" value="Doctorate" name="e2">
                                            <label for="education-doctorate">Doctorate</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-masters" value="Masters" name="e3">
                                            <label for="education-masters">Masters</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-bachelors" value="Bachelors" name="e4">
                                            <label for="education-bachelors">Bachelors</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-diploma" value="Diploma" name="e5"> 
                                            <label for="education-diploma">Diploma</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-religious_education"
                                                value="Religious Education" name="e6">
                                            <label for="education-religious_education">Religious Education</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-plus2" value="Plus Two / Pre Degree" name="e7">
                                            <label for="education-plus2"> Plus Two / Pre Degree</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-sslc" value="SSLC">
                                            <label for="education-sslc">SSLC</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="education-b_sslc" value="Below SSLC" name="e8">
                                            <label for="education-b_sslc">Below SSLC</label>
                                        </li>

                                    </ul>
                                </div>
                            </div>  
                            <div class="col-md-6 mb-3  ">
                                <label for="">Financial Status</label>
                                <div class="control-group">
                                    <ul class="ks-cboxtags"> 
                                        <li>
                                            <input type="checkbox" id="fs-any" value="Any" name="f1" checked>
                                            <label for="fs-any">Any</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="fs-rich" value="Rich Family" name="f2">
                                            <label for="fs-rich">Rich Family</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="fs-upper" value="Upper Middle Class Family" name="f3">
                                            <label for="fs-upper">Upper Middle Class Family</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="fs-middle" value="Middle Class Family" name="f4">
                                            <label for="fs-middle">Middle Class Family</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="fs-lower_middle" value="Lower Middle Class Family" name="f5">
                                            <label for="fs-lower_middle">Lower Middle Class Family</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="fs-poor" value="Poor Family" name="f6">
                                            <label for="fs-poor">Poor Family</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Country</label>
                                <div class="control-group">
                                    <select id="countySel" size="1" class="custom-select" name="country" >
                                        <option value="" selected="selected">Select</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <label for="">State</label>
                                <div class="control-group"> 
                                    <select class="custom-select" id="stateSel" size="1" name="state">
                                        <option value="" selected="selected">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Districts</label>
                                <div class="control-group">
                                    <select class="custom-select" id="districtSel" multiple name="district">
                                        <option value="" selected="selected">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Place</label>
                                <div class="control-group">
                                    <select class="custom-select" id="placeSel" name="place">
                                        <option value="" selected="selected">Select Place</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3  ">
                                <label for="">Tell About your Partner</label>

                                <textarea name="about" id="" class="form-control" maxlength="170 " cols="58"
                                    rows="1" name="tell"></textarea>
                            </div>

                        </div>
                        <div class=" d-flex justify-content-center mt-4">

                            <button type="submit" class="btn gnrl-btn  ">
                                Save & Continue
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- fill profile details section end -->

    <!-- Call to Action Start -->
    <div class="call-to-action row">
        <div class="container container-fluid">
            <div class=" align-items-center  ">
                <h2>Available Free Expert Consulation</h2>
                <p>
                    Request a call back from our Personalized Service Team
                </p>
                <form action="">

                    <div class="form-row  mt-3">

                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Name</label>
                            <input type="text" id="" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Contact Number</label>
                            <input type="text" id="" class="form-control" placeholder="Mobile Number" required>
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="" style="color:white">Time for contact</label>
                            <input type="text" id="" class="form-control" placeholder="Time">
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="" style="color:white">Reson</label>
                            <input type="text" id="" class="form-control" placeholder="How To Register" required>
                        </div>
                        <div class="col-md-3   ">
                            <button type="submit" id="" class="btn req-call-btn  btn-block">Request a call</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->

    <!-- Footer Start -->
    <div class="footer hide-max">
        <div class="container">
            <div class="row  ">
                <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                    <div class="footer-form  ft-logo-sec ">
                        <img src="/assets/images/ft_logo.PNG" class="ftr-img" alt="Footer Logo"> <br>
                        <h6 class="ft-align-center text-small">The Complete Muslim Matrimony</h6>
                    </div>
                </div>

                <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                    <div class="hide-ft">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="/about.html">About Us</a>
                            <a>Our Services</a>
                            <a>Our Branchs</a>
                            <a href="/contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around col-md-6 col-lg-3  ">
                    <div class="hide-ft">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a>Clients Review</a>
                            <a>Customer Support</a>
                            <a>FAQs</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around col-md-6 col-lg-3">
                    <div class="footer-contact ft-align-center">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Padikkal, Malappuram, Kerala</p>
                        <p><i class="fa fa-phone-alt"></i><a href="https://wa.me/919746900055">+91 97469 00055</a></p>
                        <p><i class="fa fa-envelope"></i>info@keralamuslimmarry.com</p>
                        <div class="footer-social">
                            <a><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/keralamuslimmarry" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a><i class="fab fa-youtube"></i></a>
                            <a href="https://instagram.com/keralamuslimmarry/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="/terms_and_conditions.html">Terms of use</a>
                <a href="privacy_policy.html">Privacy policy</a>
                <a>Cookies</a>
                <a>Help & FQAs</a>
                <a href="/contact.html">Contact us</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="https://keralamuslimmarry.com/">Kerala Muslim Marry</a>- All Right Reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Theme Designed By <a href="https://htmlcodex .com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer  footer-mv   hide-min">

        <div class="container footer-menu">
            <div class="f-menu">
                <a href="terms_and_conditions.html">&nbsp;Terms of use</a>
                <a href="privacy_policy.html">&nbsp;Privacy policy</a>
                <a>&nbsp;Cookies</a><br>
                <a>&nbsp;Help & FQAs</a>
                <a href="contact.html">&nbsp;Contact us</a>
            </div>
        </div>

    </div>
    <!-- Footer End -->
 

    

</body>