
<body>

    <!-- Header Start -->
    <div class="header-top   ">
        <div class=" row  align-items-center hide-max ">
            <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
                <div class="   brand ">
                    <a href="/download (1).jpg">
                        <img src="/assets/images/logo.PNG" alt="Logo">
                    </a>
                </div>
            </div>
            <div class=" col  menu-links   hide-max    ">
                <div class="    btn-new-for-all   ">
                    <a href="/" class="">Home</a>
                    <a href="/" class="">About</a>
                    <a href="/" class="">Search</a>
                    <a href="/" class="">Contact us</a>
                </div>

            </div>
            <div class=" col-2  ">
                <div class=" btn-new-for-all  ">
                    <a href="/user/login" class="  btn-login ">Login</a>
                </div>
            </div>

        </div>
        <!--4 mobile -->
        <div class="  m-view-sp">
            <div class=" mob-view-logo  hide-min">
                <a href="/">
                    <img src="/assets/images/logo.PNG" alt="Logo">
                </a>
            </div>
            <div class=" btn-new-for-all  hide-min  ">
                <a href="/user/login" class="  btn-login ">Login</a>
            </div>
        </div>

    </div>
    <!-- Header End -->

    <!-- fill profile details section start -->
    <div class="call-to-action">
        <div class="container col-md-6">
            <h2>Upload Your Profile Picture</h2>
            <p class="text-small text-white">
                Upload Your Picture
                Increase Chance to responses
            </p>
            <form class="upload-img-center  mt-5 ft-align-center" action="/profile_photo" method="POST" enctype="multipart/form-data">


                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4q4eyqUndMHmc7uxRPn2hVEsB1w6XfGSMtQ&usqp=CAU" height="250" id="user-profile" class="user-profile">
                <input type="file" name="img"  accept="image/png, image/jpeg" onchange="previewFile()" class="form-control form-control-lg mt-3  "><br>


                <button type="submit" class="btn gnrl-btn mt-3 ">
                    Save & Continue
                </button>
                

            </form>
            
                  
              
            <div>
       <a href="/user/email_verification"> <u>Skip-></u></a>
            </div>

        </div>
    </div>

    <!-- fill profile details section end -->

    <!-- Call to Action Start -->
    <div class="call-to-action">
        <div class="container container-fluid">
            <div class="align-items-center">
                <!--  -->
                <!-- <div class="col-md-12"> -->
                <div class="">
                    <h2>Available Free Expert Consulation</h2>
                    <p>Request a call back from our Personalized Service Team</p>
                    <form action="">
                        <div class="form-row mt-3">
                            <div class="col-md-6 mt-3">
                                <label for="" style="color: white">Name</label>
                                <input type="text" class="form-control" placeholder="Name" />
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color: white">Contact Number</label>
                                <input type="text" class="form-control" placeholder="Mobile Number" />
                            </div>
                            <div class="col-md-3 mt-3">
                                <label for="" style="color: white">Time for contact</label>
                                <input type="text" class="form-control" placeholder="Time" />
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color: white">Select a Reson</label>
                                <select class="custom-select">
                                    <option selected>Reson A</option>
                                    <option value="1">Reson A</option>
                                    <option value="2">Reson A</option>
                                    <option value="3">Reson A</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn req-call-btn btn-block">
                                    Request a call
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->

    <!-- Footer Start -->
     {{>footer}}
    
     

</body>
