<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header home">
            <div class="container-fluid">
                <div class="header-top   ">
                    <div class=" row  align-items-center hide-max ">
                        <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
                            <div class="   brand ">
                                <a href="index.html">
                                    <img src="/assets/images/logo.PNG" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class=" col  menu-links   hide-max    ">
                            <div class="    btn-new-for-all   ">
                                <a href="/index.html" class="">Home</a>
                                <a href="/about.html" class="">About</a>
                                <a href="/search.html" class="">Search</a>
                                <a href="/contact.html" class="">Contact us</a>
                            </div>
                        </div>
                        <div class=" col-2  ">
                            <div class=" btn-new-for-all  ">
                                <a href="/User/login.html" class="  btn-login ">Login</a>
                            </div>
                        </div>
                    </div>
                    <!--4 mobile -->
                    <div class="  m-view-sp">
                        <div class=" mob-view-logo  hide-min">
                            <a href="index.html">
                                <img src="/assets/images/logo.PNG" alt="Logo">
                            </a>
                        </div>
                        <div class=" btn-new-for-all  hide-min  ">
                            <a href="/User/login.html" class="  btn-login ">Login</a>
                        </div>
                    </div>

                </div>

                <div class="hero row align-items-center bg-text ">
                    <div class="col-md-6  ">

                        <h3>Login Now</h3>
                        <form action="/login" method="POST">

                            <div class="form">

                                <div class="col-md-12 mt-3">
                                    <label for="" style="color:white">Profile ID / Email / Mobile Number.</label>
                                    <input type="text" class="form-control" placeholder="" name="username" required >
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="" style="color:white">Password</label>
                                    <input type="password" class="form-control" placeholder="" name="password" required >
                                </div>


                                <div
                                    class="col-md-12 form-row ml-auto align-items-center d-flex justify-content-between">
                                    <div class=" ">
                                        <a href="#" class="text-small text-white" data-target="#pwdModal"
                                            data-toggle="modal">Forgot Password?</a>
                                    </div>
                                    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header  ">

                                                    <h1 class="text-center" style="color: black;">Forgot Password?
                                                    </h1>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body  ">
                                                    <div class="col">
                                                        <div class="panel panel-default   ">
                                                            <div class="panel-body  ">
                                                                <div class="text-center ">

                                                                    <p style="color: black;">Enter your registered
                                                                        email id here to reset the password</p>
                                                                    <div class="panel-body">
                                                                        <fieldset class="fieldset-fgt-pass">
                                                                            <div class="form-group  pop-fgt-pass ">
                                                                                <input class="form-control"
                                                                                    placeholder="E-mail Address"
                                                                                    name="email" type="email"  >
                                                                            </div>
                                                                            <button
                                                                                class="btn btn-lg btn-primary btn-block"
                                                                                value="" type="submit">Send My
                                                                                Password</button>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-md-12">
                                                        <a class="" style="color: black;" data-dismiss="modal"
                                                            aria-hidden="true">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <button type="submit" class="btn  btn-block">Login Now</button>
                                    </div>
   </form>
                                </div>
                                <br>
                                <div class="col-md-12 form-row ml-auto align-items-center">

                                    <div class="col-md-12 mt-3">
                                        <label for="" style="color:white" class="text-small">New member?</label>
                                        <a class="btn  btn-block "href="/register">Register Free Now</a>
                                    </div> 
                                </div>
                            </div> 
                     
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </div>
        </div>
        <!-- login end -->


 

        <!-- Call to Action Start -->
        <div class="call-to-action row">
            <div class="container container-fluid">
                <div class=" align-items-center  ">
                    <h2>Available Free Expert Consulation</h2>
                    <p>
                        Request a call back from our Personalized Service Team
                    </p>
                    <form action="">

                        <div class="form-row  mt-3">

                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Name</label>
                                <input type="text" id="" class="form-control" placeholder="Name" >
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Contact Number</label>
                                <input type="text" id="" class="form-control" placeholder="Mobile Number" >
                            </div>
                            <div class="col-md-3 mt-3">
                                <label for="" style="color:white">Time for contact</label>
                                <input type="text" id="" class="form-control" placeholder="Time">
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Reson</label>
                                <input type="text" id="" class="form-control" placeholder="How To Register" >
                            </div> 
                            <div class="col-md-3   "> 
                                <button type="submit" id="" class="btn req-call-btn  btn-block" >Request a call</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->
 
        <!-- Footer Start -->
        <div class="footer hide-max">
            <div class="container">
                <div class="row  ">
                    <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                        <div class="footer-form  ft-logo-sec ">
                            <img src="/assets/images/ft_logo.PNG" class="ftr-img" alt="Footer Logo"> <br>
                            <h6 class="ft-align-center text-small">The Complete Muslim Matrimony</h6>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around col-md-6 col-lg-3 ">
                        <div class="hide-ft">
                            <div class="footer-link">
                                <h2>Useful Link</h2>
                                <a href="/about.html">About Us</a>
                                <a>Our Services</a>
                                <a>Our Branchs</a>
                                <a href="/contact.html">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around col-md-6 col-lg-3  ">
                        <div class="hide-ft">
                            <div class="footer-link">
                                <h2>Useful Link</h2>
                                <a>Clients Review</a>
                                <a>Customer Support</a>
                                <a>FAQs</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around col-md-6 col-lg-3">
                        <div class="footer-contact ft-align-center">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Padikkal, Malappuram, Kerala</p>
                            <p><i class="fa fa-phone-alt"></i><a href="https://wa.me/919746900055">+91 97469 00055</a></p>
                            <p><i class="fa fa-envelope"></i>info@keralamuslimmarry.com</p>
                            <div class="footer-social">
                                <a><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com/keralamuslimmarry" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-youtube"></i></a>
                                <a href="https://instagram.com/keralamuslimmarry/" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="/terms_and_conditions.html">Terms of use</a>
                    <a href="privacy_policy.html">Privacy policy</a>
                    <a>Cookies</a>
                    <a>Help & FQAs</a>
                    <a href="/contact.html">Contact us</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="https://keralamuslimmarry.com/">Kerala Muslim Marry</a>- All Right Reserved.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>Theme Designed By <a href="https://htmlcodex .com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer  footer-mv   hide-min">

            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="terms_and_conditions.html">&nbsp;Terms of use</a>
                    <a href="privacy_policy.html">&nbsp;Privacy policy</a>
                    <a>&nbsp;Cookies</a><br>
                    <a>&nbsp;Help & FQAs</a>
                    <a href="contact.html">&nbsp;Contact us</a>
                </div>
            </div>

        </div>
        <!-- Footer End -->

        <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
    </div>

    <!-- JavaScript Libraries -->
    
</body>