<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header home">
            <div class="container-fluid">
                <div class="header-top   ">
                    <div class=" row  align-items-center hide-max ">
                        <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
                            <div class="   brand ">
                                <a href="/">
                                    <img src="/assets/images/logo.PNG" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class=" col  menu-links   hide-max    ">
                            <div class="    btn-new-for-all   ">
                                <a href="/" class="">Home</a>
                                <a href="/" class="">About</a>
                                <a href="/" class="">Contact us</a>
                            </div>
                        </div>
                        <div class=" col-2  ">
                            <div class=" btn-new-for-all  ">
                                <a href="/user/register" class="  btn-login ">Register</a>
                            </div>
                        </div>
                    </div>
                    <!--4 mobile -->
                    <div class="  m-view-sp">
                        <div class=" mob-view-logo  hide-min">
                            <a href="/">
                                <img src="/assets/images/logo.PNG" alt="Logo">
                            </a>
                        </div>
                        <div class=" btn-new-for-all  hide-min  ">
                            <a href="/user/login" class="  btn-login ">Login</a>
                        </div>
                    </div>

                </div>

                <div class="hero row align-items-center bg-text ">
                    <div class="col-md-6  ">

                        <h3>Login Now</h3>
                        <form action="/login" method="POST">

                            <div class="form">

                                <div class="col-md-12 mt-3">
                                    <label for="" style="color:white">Profile ID / Email / Mobile Number.</label>
                                    <input type="text" class="form-control text-white" placeholder="" name="username" required>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="" style="color:white">Password</label>
                                    <input type="password" class="form-control text-white " placeholder="" name="password" >
                                </div>


                                <div
                                    class="col-md-12 form-row ml-auto align-items-center d-flex justify-content-between">


                                    <div class="">
                                        <button type="submit" class="btn  btn-block">Login Now</button>
                                    </div>
                                    <span class="text-danger">{{message}}</span>
                        </form>
                        <div class=" ">
                            <a href="#" class="text-small text-white" data-target="#pwdModal" data-toggle="modal">Forgot
                                Password?</a>
                        </div>

                        <br>
                        <div class="col-md-12 form-row ml-auto align-items-center">

                            <div class="col-md-12 mt-3">
                                <label for="" style="color:white" class="text-small">New member?</label>
                                <a class="btn  btn-block " href="/user/register">Register Free Now</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
    </div>
    <!-- login end -->



    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header  ">

                    <h1 class="text-center" style="color: black;">Forgot Password?
                    </h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body  ">
                    <div class="col">
                        <div class="panel panel-default   ">
                            <div class="panel-body  ">
                                <div class="text-center ">

                                    <p style="color: black;">Enter your registered
                                        email id here to send the password</p>
                                    <div class="panel-body">
                                        <fieldset class="fieldset-fgt-pass">
                                            <div class="form-group  pop-fgt-pass ">
                                                <input class="form-control" id="forgot" placeholder="E-mail Address"
                                                    name="email" type="email">
                                            </div>
                                            <button class="btn btn-lg btn-success btn-block" id="bt"
                                                onclick="changePassword()">Send
                                                Password </button>
                                        </fieldset>
                                        <script>
                                            async function changePassword() {
                                             
                                                let spn = document.getElementById("spin");
                                                spn.className = "spinner-border text-primary";
                                                let bt = document.getElementById("bt");
                                                let email = document.getElementById("forgot").value;
                                                bt.disabled=true;
                                                let obj = { email }
                                                
                                                try {
                                                    let res = await axios.post('https://muslim-matrimony.herokuapp.com/forgot_password', { obj })
                                                    if (res.data.success) {
                                                        spn.className =""
                                                        
                                                        Swal.fire('Success...', 'Password  has been send successfully ', 'success');

                                                         location.href="/user/login"
                                                    }
                                                    else{
                                                       
                                                             spn.className =""
                                                       Swal.fire({
                                                        icon: 'error',
                                                        title: 'Oops...',
                                                        text: res.data.message,
                                                      
                                                        })
                                                         location.href="/user/login"
                                                    }

                                                }
                                                catch (error) {
                                                    console.log(error)
                                                }
                                            }








                                        </script>


                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                                    <div class="col-md-4">

                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        <div class=" " role="status" id="spin">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                    </div>
                                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <a class=""href="/user/login" style="color: black;" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- Call to Action Start -->
    {{>contact}}
    <!-- Call to Action End -->

    <!-- Footer Start -->
    
     {{>footer}}
    <!-- JavaScript Libraries -->

</body>