 <style>
        .admin-pnl a {
            padding: 5px;

        }

        .admin-pnl .ad-menu a {
            margin: 5px;
            color: black;
        }

        .admin-pnl img {
            height: 70px;
            width:100%;
            margin:0px;

        }
    </style>
</head>


<body>
 <div class="container header ">
        <div class="  row align-items-center admin-pnl ">
            <div class="col-4 ">
                <a>
                    <img src="/assets/images/logo.PNG" alt="Logo" class="img-fluid">
                </a>
            </div>
            <div class=" col d-flex justify-content-between flex-wrap ">
                <div class=" ad-menu ">
                    <a href="/admin/all_profiles" class="text-white">All Profile </a>
                    <a href="" class="text-white">Call Request </a>
                    <a href="" class="text-white">Profile pic approvel</a>
                    <a href="" class="text-white">Add member</a>
                    <a href="" class="text-white">Account Settings</a>
                </div>
               
            </div>
        </div>
   
    </div>
    <div class="splash-container mt-5">

     <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
            <form class=" ">
            <div class="form-group">
                <label for="">Admin Login ID</label>
                <input class="form-control form-control-lg" id="" type="text" placeholder="" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="">Admin Login Password</label>
                <input class="form-control form-control-lg" id="" type="password" placeholder="">
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </form>

      </div>
      <div class="col-md-4"></div>


     </div>

        


    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>